@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* ----------------------------------------- Colors */

.bg-color-name {
    background-color: #801515;
}

.ui-menu-color-home {
    background-color: #C00101;
}

.ui-menu-color-games {
    background-color: #F6910A;
}

.ui-menu-color-pay {
    background-color: #10619F;
}

.ui-menu-color-contact {
    background-color: #08C508;
}

.main-content {
    background-color: #F5F3F4;
}

.inline-block {
    display: inline-block;
}

/* ----------------------------------------- Special Padding/Margin/Text */

h1, 
h2, 
h3, 
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

html, body {
    height: 100%;
    width: 100%;
}

article {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

/* ----------------------------------------- Heading */

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url("../images/hamsoft-logo-4.png");
    background-color: #801515;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    min-height: 280px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: "Ubuntu", sans-serif;
    font-weight: 100;
    font-size: 50px;
    margin-top: 40px;
    color: #FFAAAA ;
}

.title {
    font-family: "Oxygen", sans-serif;
    font-weight: 300;
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 40px;
    color: #550000 ;
    text-indent: 70px;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav {
    margin: 0;
}

#nav li {
    font-size: 14px;
}

.menuitem {
    height: 100px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    text-decoration: none;
    width: 100%;
    height: 100px;
    color: #fff;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Ubuntu", sans-serif;
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: 300;
}

.active-page {
    text-decoration: underline;
}

/* ----------------------------------------- Main */

main {
    flex-grow: 1;
}


/* ----------------------------------------- Footer */

footer {
    background-color: #801515;
    min-height: 120px;
    margin: 0;
    color: #550000;
}

header,
main,
footer {
    flex-shrink: 0;
}

.general-sub {
    font-family: "Oxygen", sans-serif;
    font-weight: 200;
    font-size: 20px;
    margin-top: 20px;
    color: #FFAAAA ;
}

.centered {
    text-align: center;
}

.back-to-top {
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    text-decoration: none;
}

.back-to-top:hover {
    color: #053961;  
}

.righted {
    text-align: right;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    font-size: 28px;
    line-height: 7px;
    padding: 12px 0;
    text-align: center;
    color: #550000;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.social-links li a i:hover {
    color: #FFAAAA;
}

/* ----------------------------------------- Bounce To Right */

.hvr-bounce-to-right {
  display: inline-block;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.hvr-bounce-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #053961;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-bounce-to-right:hover, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:active {
  color: white;
}

.hvr-bounce-to-right:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

/* ----------------------------------------- main content */

.who-we-are {
    color: #550000;
}

.who-we-are h2 {
    font-family: "Oxygen", sans-serif;
    font-size: 32px;
    margin-top: 25px;
}

.who-we-are p {
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
}